 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
 <div class="user">
   <br>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon"></i>

      <p>수정중!</p>
    </div>
    <div class="tech">
      <h2>Opensource</h2>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark"></i>

      <p>수정중!</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-bash-plain"></i>

      <p>수정중!</p>
    </div>
</div>
